// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize:15 !default; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5 !default; // how large the line height is as a multiple of font size
$leading:24px;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414 !default;


$spacing: 24px;
$colorwhite: #fff;
$colorblack: #000;
$colordarblue: #063A88;
$font-family: Roboto, serif;


@mixin shadow($top:0px, $left:0px, $blur:12px, $color:rgba(0,0,0,0.36)) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}
