
.home{
  #color-warp.blue{
    #page{
      background-color: $colordarblue;
    }
    .topline{
      background-color: #00B8F1;
    }
    .videoscreen{
      background-color: $colordarblue;
    }
    .option .blue{
        display: inline-block;
    }
    .features-block .feature-item{
      border-color: #00b8f1;
      .blue{
        display: inline-block;
      }
    }
    .testimonies-block{
      background: rgb(240,240,240);
      background: -moz-linear-gradient(180deg, rgba(0, 184, 241,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0, 184, 241,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0, 184, 241,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#ffffff",GradientType=1);
    }
  }
  #color-warp.red{
    #page{
      background-color: #222222;
    }
    .topline{
      background-color: #D80101;
    }
    .videoscreen{
      background-color: #D80101;
    }
    .option .red{
      display: inline-block;
    }
    .features-block .feature-item{
      border-color: #D80101;
      .red{
        display: inline-block;
      }
    }
    .testimonies-block{
      background: rgb(240,240,240);
      background: -moz-linear-gradient(180deg, rgba(216, 1, 1,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(216, 1, 1,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(216, 1, 1,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D51E1E",endColorstr="#ffffff",GradientType=1);
    }

  }
  #color-warp.pink{
    #page{
      background-color: #063A88;
    }
    .topline{
      background-color: #FF86B5;
    }
    .videoscreen{
      background-color: #FF86B5;
    }
    .option .pink{
      display: inline-block;
    }
    .features-block .feature-item{
      border-color: #FF86B5;
      .pink{
        display: inline-block;
      }
    }
    .testimonies-block{
      background: rgb(240,240,240);
      background: -moz-linear-gradient(180deg, rgba(255, 134, 181,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(255, 134, 181,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(255, 134, 181,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF86B5",endColorstr="#ffffff",GradientType=1);
    }
  }

  .darkblue{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#063a88+25,00b8f1+25,00b8f1+51,063a88+51 */
    background: #063a88; /* Old browsers */
    // background: -moz-linear-gradient(-45deg,  #063a88 25%, #00b8f1 25%, #00b8f1 51%, #063a88 51%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(-45deg,  #063a88 25%,#00b8f1 25%,#00b8f1 51%,#063a88 51%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(135deg,  #063a88 25%,#00b8f1 25%,#00b8f1 51%,#063a88 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063a88', endColorstr='#063a88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      color: #fff;
  }
  .colored{
    color: #fff;
  }

  .gray{
    background-color: #F0F0F0;
  }

}
