#contact_form_pop{
  display:  none;

  .wpcf7{
    // width: 600px;
    font-size: 15px;
    color: #000000;
    font-family: Roboto;

    h2{
      color: #063A88;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      margin-top: 0;
      font-family: Raleway;
    }
    p{
      line-height: 18px;
      margin-bottom: $spacing;
      color: #000000;
    }
    .red{
      color: #D51E1E;
    }
    label{
      font-weight: 500;
    }
    .wpcf7-form-control-wrap{
      margin-top: 7px;
      display: block;
      input, textarea{
        width: 100%;
        padding: 12px;
        border: solid #063A88 1px;
        border-left: 6px solid #063A88;
        border-radius: 3px;
      }
    }
    #checkbox.wpcf7-form-control{
      .wpcf7-list-item {
        margin: 0;
        input{
          width: auto;
          color: #063A88;
          // margin: 15px;
          position: relative;
          z-index: 2;
          &:after{
            // content: '';
            // display: block;
            // border: solid #063A88 1px;
            // width: 42px;
            // height: 42px;
            // position: relative;
            // z-index: 1;
            // top: -16px;
            // left: -16px;
            // border-radius: 3px;
          }

        }
        .wpcf7-list-item-label{
          padding-left: 10px;
          font-family: Raleway;
        }

      }

    }
    span.wpcf7-not-valid-tip{
      display: block;
      margin-top: 12px;
    }
  }
 .contact-info{
   border-top: solid 2px #000;
   border-bottom: solid 2px #000;
   padding: $spacing 0;
   margin-bottom: $spacing;
   p{
     line-height: 28px;
     margin-bottom: 0;
   }
 }
}
.wpcf7-form-control.wpcf7-submit{
  text-align: center;
  width: 100%;
  border-radius: $spacing / 4;
  background: inherit;
  color: inherit;
  height: 42px;
  border-color: inherit;
  margin-bottom:  $spacing / 2;
  border: 0;
  font-family: Raleway;
  font-weight: bold;
  cursor: pointer;
  background-color: #00B415;
  color: #fff
}
#cancel{
  display: block;
  text-align: center;
  color: #063A88;
  font-family: Raleway;
  font-weight: bold;
}
#contact_form_pop{
  padding: $spacing !important;
  display: none;
  border-radius: 6px;
}
.fancybox-stage .fancybox-slide--html{
  padding-top: $spacing * 5;
}
.fancybox-is-open .fancybox-bg{
  background-color: #000;
}
