


.site-footer{
  padding:  $spacing * 5 0;
  position: relative;
    @include grid-media($mobile-container) {
      padding: $spacing * 2 0;
      padding-top: 0;
    }


  .site-info{
    position: relative;
    z-index: 1;
    @include grid-column(10, $container);
    @include grid-push(1, $container);
    @include grid-media($mobile-container) {
        @include grid-column(4);
    }

    .footerlink{
      display: block;
      margin-bottom: $leading;
    }
    .copyright{
      margin-top: $leading *2;
      color: #95989A;
      display: block;
    }

  }

}
