

$container: (
  columns: 12,
  gutter: $spacing,
  direction: ltr,

);
$tablet-container: (
  columns: 8,
  gutter: 12px,
  media: "(max-width: 1074px)",
);

$mobile-container: (
  columns: 4,
  gutter: 6px,
  media: "(max-width: 767px)",
);


.container {
  @include grid-container;
  // @include grid-visual(rgba(red, 0.25), $container);
  margin-left: auto;
  margin-right: auto;
  margin: 0 12px;

  @media only screen and (min-width: 768px) {
   // max-width: 720px;
   margin:  0 24px;
   margin-left: auto;
   margin-right: auto;
 }

 @media only screen and (min-width: 1074px) {
   // max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   margin:  0 72px;

 }

 // @media only screen and (min-width: 1440px) {
 //   // max-width: 1296px;
 //   margin: 0 72px;
 //   margin-left: auto;
 //   margin-right: auto;
 // }

 @media only screen and (min-width: 1800px) {
   max-width: 1440px;
   margin:  0 180px;
   margin-left: auto;
   margin-right: auto;
 }
}


$container10: (
  columns: 10,
  gutter: $spacing,

);


.container10{
  @include grid-collapse($container10);
  @include grid-container;
  // @include grid-visual(rgba(blue, 0.25), $container10);
}

// .product-gallery__item {
//   @include grid-column(1, $product-gallery);
//   margin-bottom: 1rem;
// }

 .bla{
   @include grid-column(1, $container10);
     margin-bottom: 1rem;
 }
.padding-container{
  @include grid-media($mobile-container) {
    padding: 0 $spacing;
  }
}
