.header-container{
  padding-top: $spacing * 3;
  position: relative;
  .site-header{
    z-index: 3;
    @include grid-column(12, $container);
    @include grid-media($mobile-container) {
      @include grid-column(4);
      padding-top: $spacing * 2;
    }
    #menu-button{
      position: absolute;
      top: 0;
      left: -18px;
      display: none;
      cursor: pointer;
        @include grid-media($mobile-container) {
          display: block;
        }
    }
    #header-menu{
      position: fixed;
      @include grid-media($mobile-container) {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
      }
      #close-menu{
        display: none;
        width: 66px;
        height: 66px;
        line-height: 66px;
        text-align: center;
        font-size: 20px;
          @include grid-media($mobile-container) {
            display: block;
          }
      }
      .contact-info{
        display: none;
          @include grid-media($mobile-container) {
            display: inline-block;
            margin-left: 66px;
            color: #95989A;
            padding-bottom: 36px;
            border-bottom: solid 2px;
            a{
              text-decoration: underline;
            }
          }
      }
      #primary-menu{
        line-height: 28px;
        opacity: 1;
        // -webkit-transition: all ease-out .1s;
        // -moz-transition: all ease-out .1s;
        // -o-transition: all ease-out .1s;
        // transition: all ease-out .1s;
        &.trans{
          opacity: 0;
          @include grid-media($mobile-container) {
            opacity: 1;
          }

        }
        @include grid-media($mobile-container) {
          margin-top: 36px;
          margin-left: 66px;
          display: inline-block;
        }
        li{
            margin-right: $spacing;
              @include grid-media($mobile-container) {
                display: block;
                float: none;
                margin-bottom: 36px;
              }
            a{
                text-decoration: underline;
            }
        }
        .current_page_item {
          font-weight: bold;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  .site-branding{
    right: 0;
    z-index: 9;
    position: absolute;
    margin-right: $spacing;
    #logo{
      height: $spacing * 2;
    }
    @include grid-media($mobile-container) {
      // padding-right: $spacing /2;
    }
  }
  @include grid-media($mobile-container) {
    padding-top: $spacing *2;
  }
}
