button{
   border-radius: $spacing / 4;
   background: inherit;
   color: inherit;
   // line-height: 42px;
   height: 42px;
   border-color: inherit;
   margin-bottom:  $spacing / 2;
   border: 0;
   font-family: Raleway;
   cursor: pointer;
   &.green{
     background-color: #00B415;
     color: #fff;
   }
 }

.topline{

  height: 40%;
  top:13%;
  position: absolute;
  width: 100%;
  z-index: 2;
  @include shadow;
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
  transform: skewY(-15deg);
  @include grid-media($mobile-container) {
    height: 66%;
    top: 5%;
  }

}

.firstblock{
  position: relative;
  z-index: 2;
  margin-top: 136px;
  @include grid-media($mobile-container) {
    margin-top: 36px;
  }
  .slider-lead{
    display: flex;
    flex-wrap: wrap;                      /* added property */
    align-items: center;
  }
  .leadblock{
    @include grid-column(3, $container);
    @include grid-push(1, $container);
    position: absolute;
    z-index: 10;

    @include grid-media($mobile-container) {
      @include grid-column(4);
      padding: 0 $spacing;
      margin-bottom: 17px;
      position: relative;
    }
    p{
      font-size: 25px;
      line-height: 42px;
      font-family: Raleway;
      font-weight: 900;
      @include grid-media($mobile-container) {
        font-size: 22px;
        line-height: 33px;

      }
      .light{
        font-weight: 400;
        @include grid-media($mobile-container) {
          color: #fff;
        }
      }
    }
    // margin-right: 120px;
    // width: 264px;
  }

  .mainslider-container{
    // @include grid-column(12, $container);
    width: calc(100% + 144px);
    margin-left: -72px;
    margin-right: -72px;
    @include grid-media($tablet-container){
      width: calc(100% + 48px);
      margin-left: -24px;
      margin-right: -24px;
    }

    @include grid-media($mobile-container) {
      @include grid-column(4);
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;
    }
    #ihr-logo-hier{
      // left: 22.1%;
      @include grid-push(5, $container);
      position: relative;
      padding-left: $spacing * 1.5;
      @include grid-media($mobile-container) {
        margin-left: 0;
        left: 0;
        // padding-left: $spacing;
      }
    }

    .slide{
      transition-timing-function: ease-in-out;
      position: relative;
      margin-bottom: $spacing;
      @include grid-media($mobile-container) {
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: $spacing / 2 + 2px;
        // margin-right: $spacing / 2 + 2px;
      }
      .big-picture{
        @include shadow;
        margin-right: 60px;
      }
      .small-picture{
        @include shadow;
        width: $spacing * 4;
        position: absolute;
        bottom: - $spacing / 2;
        right: $spacing * 2;
        @include grid-media($mobile-container) {
          width: $spacing * 3;
          bottom: - $spacing / 2;
          right: $spacing * 2;
        }
      }
      &.animated{
        @include grid-media($mobile-container) {
          -o-transition-property: none !important;
      		-moz-transition-property: none !important;
      		-ms-transition-property: none !important;
      		-webkit-transition-property: none !important;
      		transition-property: none !important;
      		/*CSS transforms*/
      		-o-transform: none !important;
      		-moz-transform: none !important;
      		-ms-transform: none !important;
      		-webkit-transform: none !important;
      		transform: none !important;
      		/*CSS animations*/
      		-webkit-animation: none !important;
      		-moz-animation: none !important;
      		-o-animation: none !important;
      		-ms-animation: none !important;
      		animation: none !important;
        }
      }

      &.fadeOut{
        animation-duration: 0.4s;
        @include grid-media($mobile-container) {

        }
      }
      &.fadeIn{
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        @include grid-media($mobile-container) {

        }
      }
      .slide-cont{
        position: relative;
        padding: 12px;
        @include grid-column(5, $container);
        @include grid-push(5, $container);
        @include grid-media($mobile-container) {
          @include grid-push(0);
          width: 100%;
        }
      }
    }
    .slick-dots{
        position: absolute;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        margin-top: -13px;
        // left: -22%;
        @include grid-media($mobile-container) {
          left: auto;
          position: relative;
          margin-top: auto;

        }
        li{
          position: relative;
          display: inline-block;
          width: 14px;
          height: 20px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          &.slick-active {
            button:before{
              width: 8px;
              height: 8px;
              margin-top: 0;
              left: -2px;
            }
          }
            button{
              font-size: 0;
              line-height: 0;
              display: block;
              width: 12px;
              height: 20px;
              padding: 0;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
              text-align: center;
                &:before{
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin-top:2px;
                  width: 4px;
                  height: 4px;
                  content: '';
                  display: inline-block;
                  text-align: center;
                  opacity: 1;
                  background-color: #fff;
                  border-radius: 50%;
                }
          }
        }
      }
  }
  .button-block{
    margin-top: $spacing;
    button{
      width: 100%;
      border: 1px solid;
    }
    #color-move{
      border: 4px solid;
      font-weight: bold;
      @include shadow;
    }
    @include grid-column(4, $container);
    @include grid-push(4, $container);
    @include grid-media($tablet-container){

      @include grid-column(4, $tablet-container)
      @include grid-push(2, $tablet-container);
        button{
          margin-left: $spacing;
          margin-right: $spacing;
          width: calc(100% - 48px);
        }
    }
    @include grid-media($mobile-container) {
      .padding-container{
        padding: 0;
      }
      @include grid-column(4);
      text-align: center;
      button{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }

  }

  .video-instruction{
    @include grid-column(8, $container);
    @include grid-push(2, $container);
    text-align: center;
    margin-top: 28px;
    @include grid-media($mobile-container) {
      @include grid-column(4)
    }
    .text-instr{

      @include grid-media($mobile-container) {
        text-align: left;
      }
      span{
        &:after{
          content: " | ";
          @include grid-media($mobile-container) {
            content: '';
          }

        }
        &:last-of-type:after{
          display: none;
        }
        @include grid-media($mobile-container) {
          display: block;
          padding-left: $spacing / 2;
        }
      }
    }

  }
  #arrow{
    display: block;
    margin-top: $spacing;
    margin-bottom: $spacing * 2;
    @include grid-media($mobile-container) {
      display: none;
    }
  }
  .videoscreen{
    @include grid-column(4, $container);
    @include grid-push(4, $container);
    // background-color: inherit;
    border-radius: $spacing / 4;
    @include shadow;
    @include grid-media($mobile-container) {
      @include grid-column(4)
      margin-top:  $spacing * 2;
    }
    .video-container{

      position: relative;
      #play-button{
        position: absolute;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 10;
      }
      .screen{
        border-radius: $spacing / 4 $spacing / 4  0 0;
        opacity: 0.5;
        width: 100%;
      }
    }
    .caption{
      padding: 12px;
      text-align: center;
      display: block;
    }

  }
}
.white-block{
  position: relative;
  .whiteline{
      background: #fff;
      -webkit-transform: skewY(-15deg);
      -moz-transform: skewY(-15deg);
      -ms-transform: skewY(-15deg);
      -o-transform: skewY(-15deg);
      transform: skewY(-15deg);
      width: 100%;
      height: 130%;
      margin-top: -5%;
      position: absolute;
      z-index: 1;
  }

  .white-container{

  }
  .online-text-block{
    position: relative;
    z-index: 1;
    margin: $spacing * 5 0;
    text-align: center;
    @include grid-column(10, $container);
    @include grid-push(1, $container);
    @include grid-media($mobile-container) {
      @include grid-column(4);
      margin:  $spacing * 2 0;
      // padding: 0 $spacing;
      text-align: left;
    }
  }
  .options-block{
    margin-top: $spacing * 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

    @include grid-media($mobile-container) {
      display: block;
    }

    .option{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0 $spacing * 2;
      @include grid-media($mobile-container) {
        display: block;
        padding: 0 ;
        text-align: center;
      }
      img{
        display: none;
        margin-bottom: $spacing;
        max-width: 400px;
        width: 100%;
      }

      h4{
        font-size: 15px;
        font-family: Roboto;
        margin-bottom: $spacing;

          @include grid-media($mobile-container) {
            text-align: center;
          }
      }
      p{
          @include grid-media($mobile-container) {
            text-align: left;
          }
      }
    }
    .option + .option {
    border-left: solid 1px black;
      @include grid-media($mobile-container) {
        border-left: 0;
        border-top: solid 1px black;
        margin-top: $spacing;
      }
    }
  }
}
.banners-block{
  position: relative;
  z-index: 1;
  @include grid-column(10, $container);
  @include grid-push(1, $container);
  color: black;
  background-color: #F0F0F0;
  padding: $spacing;
  border-radius: $spacing / 4;
  @include shadow;

  @include grid-media($mobile-container) {
    padding: 0;
    @include grid-column(4)
  }
  img{
    margin-right: $spacing;
    margin-bottom: $spacing;
    width: auto;
    height: $spacing * 2;
      @include grid-media($mobile-container) {
        margin-right: $spacing / 2;
      }
  }
}
.features-block{
  @include grid-column(10, $container);
  @include grid-push(1, $container);
  text-align: center;
  margin-top: $spacing * 5;
  @include grid-media($mobile-container) {
    @include grid-column(4)
    margin-top: $spacing * 2;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      border-bottom: 4px solid;
      padding-bottom: $spacing * 2.5;
      margin-top: $spacing * 2.5;
      text-align: center;
      &:first-of-type{
        margin-top: 0;
      }
      &:last-of-type{
        border-bottom: 0;
        padding-bottom: 0;
      }

      .fe-img-container{
        @include grid-column(2, $container10);
        @include grid-push(4, $container10);
        text-align: center;
        img{
          display: none;
          max-height: 120px;
          max-width: 160px
        }



        @include grid-media($mobile-container) {
          @include grid-column(2);
          @include grid-push(1);
        }
      }
      p{
        @include grid-column(10, $container10);
        @include grid-push(0, $container10);
        text-align: left;
        margin-top: $spacing;
      }
    }
  }
}
.testimonies-block{
  @include grid-column(10, $container);
  @include grid-push(1, $container);
  text-align: center;
  border-radius: $spacing / 4;
  margin-top: $spacing * 5;
  text-align: center;
  @include grid-media($mobile-container) {
    @include grid-column(4)

  }
  .testimonies-container{

    position: relative;
    .testimonieslide{
      padding: $spacing;
      margin-top: $spacing * 2.5;
      .slider-top{
        .face{
          display: inline-block;
          width: 144px;
          height: 144px;
          border-radius: 100%;
          // border: 2px solid #F0F0F0;
          object-fit: cover;
          @include shadow;
          object-fit: contain;
          background-color: #fff;
        }
        .name{
          font-size: 22px;
          font-weight: 300;
          line-height: 27px;
          margin: 6px 0;
        }
        .spec{
          font-size: 13px;
          font-weight: bold;
          line-height: 20px;
          margin-bottom: $spacing / 2;
        }
      }


    }

    .slick-arrow{
      background: transparent;
      border: none;
      line-height: 0;
      position: absolute;
      top: $spacing * 6;
      display: block;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      font-size: 15px;
      color: #fff;
      z-index: 10;
      &.slick-prev{
        left: calc(50% - 111px);
      }
      &.slick-next{
        right: calc(50% - 111px);
      }
    }
    .slick-dots{
      position: absolute;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      li{
        position: relative;
        display: inline-block;
        width: 14px;
        height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &.slick-active {
          button:before{
            width: 8px;
            height: 8px;
            margin-top: 0;
            left: -2px;
          }
        }
          button{
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
              &:before{

                position: absolute;
                top: 0;
                left: 0;
                margin-top:2px;
                width: 4px;
                height: 4px;
                content: '';
                display: inline-block;
                text-align: center;
                opacity: 1;
                background-color: #fff;
                border-radius: 50%;
              }
        }
      }
    }
  }

}
.contactblock-wraper{
  position: relative;
  overflow: hidden;

  .grayline{
    background: #F0F0F0;
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
    transform: skewY(-15deg) translate(0 ,10%);
    width: 100%;
    height: 100%;
    top: 40%;
    position: absolute;
    z-index: 1;
  }
}
.contact{
  position: relative;
  z-index: 1;
  @include grid-column(10, $container);
  @include grid-push(1, $container);
  margin-top: $spacing * 5;
  text-align: center;
  border-radius: $spacing / 4;
  background-color: #F0F0F0;
  @include shadow;
  color: #000;
  padding: $spacing;
  margin-bottom: $spacing *1.5;
  @include grid-media($mobile-container) {
    @include grid-column(4)
    padding-left: 0;
    padding-right: 0;
    margin-top: $spacing * 3;
  }
  h3{
    margin-top: 0;
  }
  .photo{
    width: $spacing * 5;
    border-radius: 100%;
  }
  button{
    margin: $spacing 0;
    font-weight: bold;
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
    line-height: 18px;
    @include grid-media($mobile-container) {
      padding: 12px 0;
      width: 100%;
    }
  }
}

.cookie-block{
  @include grid-column(3, $container);
  position: fixed;
  bottom: $spacing * 3;
  width: calc(25% - 90px);
  background-color: #000000c7;
  border-radius: $spacing / 4;
  padding: $spacing / 2;
  font-size: 13px;
  color: #95989A;
  z-index: 1000;
  display: none;
  @include grid-media($tablet-container){
    @include grid-column(2)
  }
  @include grid-media($mobile-container) {
      @include grid-column(4)
      width: calc(100% - 48px - 12px);
      bottom: $spacing * 1;
  }

  #cookie_consent{
    color: #fff;
    margin-top: $spacing;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-bottom: $spacing / 2;

  }
}
