.page-template-default, .error404 {
	h1{
		font-size: 22px;
		line-height: 22px;
		margin-bottom: $spacing;
	}
	h2{
		font-size: 15px;
		font-family: Roboto;
		margin-bottom: $spacing;
	}
	#masthead{
		display: none;
	}
	.site-branding{
		display: none;
	}
	#color-warp.blue, #color-warp.red, #color-warp.pink{
		#page{
			background:none;
		}
	}
	.content-area{
		@include grid-column(10, $container);
	  @include grid-push(1, $container);
		@include grid-media($mobile-container) {
			padding: 0;
			@include grid-column(4)
		}
	}
	#colophon{
		display: none;
	}

}
